@charset "UTF-8";
/* --- VARIABLES--- */
/*--- MAP-GET--- */
/* ---MIXIN CON PARAMETROS--- */
/*----------- MOBILE ---------- */
@media only screen and (min-width: 320px) and (max-width: 767) {
  .header .logo {
    width: 10%; }
  .header .header__nav ul {
    padding: 0.5rem;
    margin-right: 10px; }
    .header .header__nav ul li {
      margin-left: 5px; }
      .header .header__nav ul li a {
        padding: 0.5rem;
        font-size: 9px; }
  /* ------ banner------- */
  #banner {
    background-color: #0F1626;
    display: flex; }
    #banner h1 {
      font-size: 25px;
      margin-bottom: 5px; }
    #banner h3 {
      font-size: 15px;
      margin-top: 1.5rem; }
    #banner p {
      font-size: 12.5px;
      margin-top: 15px; }
  /* ------galeria ---------*/
  section.galeria {
    padding: 25px; }
    section.galeria h2 {
      font-size: 15px;
      padding-bottom: 0.5rem; }
  /* ------formulario----- */
  .stylecopiado {
    font-size: 11.5px;
    padding: 10px; }
  .serviciospadre {
    display: grid;
    grid-template-areas: "formulario";
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.5fr;
    column-gap: none;
    margin-left: 8rem; }
    .serviciospadre .formulario__content {
      width: 100%;
      text-align: center;
      margin-left: none; }
      .serviciospadre .formulario__content .form_titulo {
        font-size: 8px;
        margin: 7.5px; }
        .serviciospadre .formulario__content .form_titulo .form_control {
          padding: 5px; }
    .serviciospadre .casacentral {
      grid-area: casacentral; }
      .serviciospadre .casacentral img {
        display: none; }
  /* ------ TU CASA------ */
  .contenidotucasa h2 {
    font-size: 16px; }
  /* --------SUCURSALES----- */
  .sucursales__titulo {
    font-size: 30px; }
  .sucursalesgrid {
    grid-template-rows: 0.8fr; }
    .sucursalesgrid img {
      width: 250px; }
    .sucursalesgrid h4, .sucursalesgrid ul {
      font-size: 14px; }
  /* ------- SUEÑOS CUMPLIDOS------- */
  .sueñoscumplidos h2 {
    font-size: 18px;
    text-align: center; }
  .sueñoscumplidos .sueñoscumplidosgrid {
    display: grid;
    grid-template-areas: "durlock2" "durlock4" "durlock5" "durlock13" "durlock14" "durlock15";
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.8fr;
    row-gap: 20px;
    padding: none;
    padding-bottom: 5rem; }
  /* ------NOSOTROS----- */
  .nosotros h2 {
    font-size: 30px; }
  .nosotros .pasoapaso {
    font-size: 12px; }
  .nosotros .video {
    justify-content: center; } }

/*----------- TABLE ---------- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* ---------------NAV------------ */
  .header .logo {
    width: 10%; }
  .header .header__nav ul {
    list-style-type: none;
    padding: 0.5rem;
    margin-right: 0; }
    .header .header__nav ul li {
      display: inline-block;
      margin-left: 10px; }
      .header .header__nav ul li a {
        padding: 0.5rem;
        font-size: 9px; }
  /* ------ banner------- */
  #banner h1 {
    font-size: 25px;
    margin-bottom: 2.5px; }
  #banner h3 {
    font-size: 15px;
    margin-top: 1rem; }
  #banner p {
    font-size: 13px;
    padding-bottom: 15px; }
  /* ------galeria ---------*/
  section.galeria {
    padding: 25px; }
    section.galeria h2 {
      font-size: 15px;
      padding-bottom: 0.5rem; }
  /* ------formulario----- */
  .stylecopiado {
    font-size: 11px;
    padding: 15px; }
  .serviciospadre .formulario__content {
    padding: 0.5rem;
    margin-bottom: 0.5rem; }
    .serviciospadre .formulario__content .form_titulo {
      font-size: 8px;
      margin: 7.5px; }
      .serviciospadre .formulario__content .form_titulo .form_control {
        padding: 5px; }
    .serviciospadre .formulario__content .form_button {
      padding: 2px; }
  .serviciospadre .casacentral {
    grid-area: casacentral; }
    .serviciospadre .casacentral img {
      width: 10%;
      margin-top: 1rem; }
    .serviciospadre .casacentral p, .serviciospadre .casacentral ul {
      line-height: 3rem;
      font-size: 10px;
      text-align: left; }
  /* ----footer--- */
  footer {
    padding: 1rem;
    font-family: "Readex Pro", "sans-serif"; }
    footer .footerpadre {
      gap: 2.5px;
      font-size: 9px;
      padding-bottom: 1rem; }
      footer .footerpadre .footer__credito {
        padding-top: 0.5rem;
        font-size: 8px; }
  .nosotros {
    font-size: 20px;
    margin: 1.5rem; }
  .video {
    margin: 0 10%;
    border: none; }
  .pasoapaso {
    font-size: 10px; }
  /*-----------TU CASA-------------*/
  .viviendas {
    padding: 10px;
    font-size: 15px;
    text-align: center; }
  .contenidotucasa .back h3 {
    font-size: 15px;
    margin-top: 10px; }
  .contenidotucasa .back ul {
    font-size: 9px;
    margin-bottom: 1rem; }
  /* ----------SUEÑOS CUMPLIDOS---------- */
  .sueñoscumplidos h2 {
    padding: 0.5rem;
    font-size: 15px;
    text-align: center; }
  .sueñoscumplidos .sueñoscumplidosgrid {
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 5px; }
  /* -------SUCURSALES---------- */
  .sucursales__titulo {
    font-size: 20px;
    margin-top: 1rem;
    padding-bottom: 1rem; }
  .sucursalesgrid {
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.5fr; }
    .sucursalesgrid img {
      width: 45%;
      padding: 0.5rem; }
    .sucursalesgrid h4, .sucursalesgrid ul {
      color: #d5d5d5;
      background-color: rgba(0, 0, 0, 0.507);
      font-size: 13px; }
  .titulo {
    font-size: 250px;
    margin: 0 0 5px 10%; } }

/* ----------INDEX--------- */
* {
  padding: 0%;
  margin: 0%; }

body {
  width: 100%;
  height: 100%;
  background: #0a6785;
  background: linear-gradient(90deg, #0a6785 0%, #0a75a2 36%, #0a81a1 68%, #0a97b4 100%); }

/* ---------footer---------- */
footer {
  background-color: #0F1626;
  align-self: flex end;
  color: #D5D5D5;
  padding: 2rem;
  font-family: "Readex Pro", "sans-serif"; }
  footer .footerpadre {
    display: grid;
    grid-template-areas: "footer1 footer2 footer3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 1rem; }
    footer .footerpadre .footer1 {
      grid-area: footer1; }
    footer .footerpadre .footer2 {
      grid-area: footer2; }
    footer .footerpadre .footer3 {
      grid-area: footer3; }
  footer .footer__credito {
    padding-top: 1rem;
    font-size: 16px;
    text-align: center; }

/* --------------HEADER------------ */
.header {
  background-color: #D5D5D5;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1030;
  position: initial; }
  .header img {
    width: 50%;
    animation-name: rotar;
    animation-iteration-count: initial;
    animation-duration: 4s;
    animation-delay: 3s; }

@keyframes rotar {
  from {
    transform: rotatex(360deg);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); } }

/* ---------------NAV------------ */
.titulo {
  text-decoration: underline;
  font-family: "Readex Pro", "sans-serif";
  text-align: center;
  font-size: 50px;
  color: #D5D5D5;
  margin: 0 0 5px 10%; }

/* ---------------NAV------------ */
.header .toggle {
  color: #d5d5d5;
  background-color: #0F1626;
  border-radius: 2em;
  padding: 0 20px;
  line-height: 20px;
  display: none; }

.header .header__nav ul {
  list-style-type: none;
  padding: 1rem;
  margin-right: 15px;
  width: max-content; }
  .header .header__nav ul li {
    display: inline-block;
    margin-left: 20px; }
    .header .header__nav ul li a {
      color: #0F1626;
      font-family: "Readex Pro", "sans-serif";
      padding: 1rem;
      font-size: 18px;
      transition: ease-out 0.5s; }
      .header .header__nav ul li a:hover {
        background-color: #0F1626;
        color: #D5D5D5;
        border-radius: 5px; }

/* ------ banner------- */
#banner {
  background-color: #0F1626;
  display: flex; }
  #banner h1 {
    text-decoration: underline;
    font-family: "Readex Pro", "sans-serif";
    text-align: center;
    font-size: 50px;
    color: #D5D5D5;
    margin-bottom: 5px; }
  #banner h3 {
    font-size: 30px;
    margin-top: 1.5rem;
    font-weight: 900;
    color: #D5D5D5; }
  #banner p {
    font-size: 25px;
    font-weight: 900;
    color: #D5D5D5;
    padding-bottom: 30px; }

/* ------galeria ---------*/
section.galeria {
  padding: 50px; }
  section.galeria h2 {
    font-size: 30px;
    text-decoration: underline;
    font-family: "Readex Pro", "sans-serif";
    color: #0F1626;
    padding-bottom: 1rem;
    text-align: center; }
  section.galeria .slide {
    margin-left: 25%;
    width: 50%;
    height: 40%;
    align-items: center;
    color: #D5D5D5; }

/* ------formulario----- */
.stylecopiado {
  font-size: 22px;
  color: #0F1626;
  font-family: "Readex Pro", "sans-serif";
  text-decoration: underline;
  text-align: center;
  padding: 30px; }

.serviciospadre {
  display: grid;
  grid-template-areas: "formulario casacentral";
  grid-template-columns: 0.5fr 0.2fr;
  grid-template-rows: 0.5fr;
  column-gap: 5px;
  justify-content: center;
  font-family: "Readex Pro", "sans-serif";
  color: #0F1626; }
  .serviciospadre .formulario__content {
    padding: 1rem;
    color: #0F1626;
    border: double white;
    background-color: #0F1626;
    text-align: center;
    margin-bottom: 1rem; }
    .serviciospadre .formulario__content .form_titulo {
      color: #D5D5D5;
      font-size: 16px;
      margin: 15px; }
      .serviciospadre .formulario__content .form_titulo .form_control {
        width: 100%;
        padding: 10px;
        border-radius: 4px; }
    .serviciospadre .formulario__content .form_button {
      padding: 2px; }
  .serviciospadre .casacentral {
    grid-area: casacentral; }
    .serviciospadre .casacentral img {
      align-content: center;
      width: 500px;
      margin-top: 1rem; }
    .serviciospadre .casacentral p, .serviciospadre .casacentral ul {
      line-height: 3rem;
      font-size: 20px;
      text-align: left; }

.nosotros {
  font-size: 40px;
  font-family: "Readex Pro", "sans-serif";
  color: #0F1626;
  text-align: center;
  text-decoration: underline;
  margin: 3rem; }

.video {
  margin: 0 29%; }

.pasoapaso {
  margin-top: 1rem;
  font-family: "Readex Pro", "sans-serif";
  color: #0F1626;
  font-size: 18px; }

/* -------SUCURSALES---------- */
.sucursales__titulo {
  font-size: 40px;
  text-decoration: underline;
  color: #0F1626;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 2rem; }

.sucursalesgrid {
  display: grid;
  grid-template-areas: "footcasacentral" "laplata" "montegrande";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center; }
  .sucursalesgrid img {
    width: 45%;
    padding: 0.5rem; }
  .sucursalesgrid h4, .sucursalesgrid ul {
    color: #d5d5d5;
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 25px; }
  .sucursalesgrid ul {
    list-style: none;
    margin-bottom: 5rem; }

/* ----------SUEÑOS CUMPLIDOS---------- */
.sueñoscumplidos h2 {
  color: #0F1626;
  font-family: "Readex Pro", "sans-serif";
  text-decoration: underline;
  padding: 1rem;
  font-size: 30px;
  text-align: center; }

.sueñoscumplidos .sueñoscumplidosgrid {
  display: grid;
  grid-template-areas: "durlock2 durlock4 durlock5" "durlock13 durlock14 durlock15";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding-bottom: 5rem; }
  .sueñoscumplidos .sueñoscumplidosgrid .durlock2 {
    grid-area: durlock2; }
  .sueñoscumplidos .sueñoscumplidosgrid .durlock4 {
    grid-area: durlock4; }
  .sueñoscumplidos .sueñoscumplidosgrid .durlock5 {
    grid-area: durlock5; }
  .sueñoscumplidos .sueñoscumplidosgrid .durlock13 {
    grid-area: durlock13; }
  .sueñoscumplidos .sueñoscumplidosgrid .durlock14 {
    grid-area: durlock14; }
  .sueñoscumplidos .sueñoscumplidosgrid .durlock15 {
    grid-area: durlock15; }
  .sueñoscumplidos .sueñoscumplidosgrid .imagengaleria {
    padding-top: 15px;
    width: 90%;
    margin: auto; }
    .sueñoscumplidos .sueñoscumplidosgrid .imagengaleria:hover {
      transform: scale(1.18);
      transition: all 1s;
      filter: contrast(130%); }

/*-----------TU CASA-------------*/
.viviendas {
  padding: 10px;
  color: #0F1626;
  font-family: "Readex Pro", "sans-serif";
  text-decoration: underline;
  font-size: 30px;
  text-align: center; }

.contenidotucasa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box; }
  .contenidotucasa .card {
    position: relative;
    width: 400px;
    height: 350px;
    margin: 2rem;
    font-family: "Readex Pro", "sans-serif"; }
    .contenidotucasa .card .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: 2s; }
    .contenidotucasa .card .front {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: #0F1626; }
      .contenidotucasa .card .front img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .contenidotucasa .card .front h3 {
        position: absolute;
        width: 100%;
        height: 45px;
        line-height: 45px;
        bottom: 0;
        color: #d5d5d5;
        background-color: rgba(0, 0, 0, 0.507);
        text-align: center; }
    .contenidotucasa .card .back {
      background-color: #0F1626;
      padding: 15px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0 5px 10px #d5d5d5;
      transform: perspective(600px) rotateY(180deg); }
      .contenidotucasa .card .back h3 {
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px; }
      .contenidotucasa .card .back ul {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 2rem; }
    .contenidotucasa .card:hover .front {
      transform: perspective(600px) rotateY(180deg); }
    .contenidotucasa .card:hover .back {
      transform: perspective(600px) rotateY(360deg); }
