/* ----------INDEX--------- */
*{
  padding: 0%;
  margin: 0%;
}
body {
  width: 100%;
  height: 100%;
  background: rgb(10,103,133);
background: linear-gradient(90deg, rgba(10,103,133,1) 0%, rgba(10,117,162,1) 36%, rgba(10,129,161,1) 68%, rgba(10,151,180,1) 100%);
}
/* --------------HEADER------------ */
.header {
background-color:#D5D5D5;
width: 100%;
height: 100px;
display: flex;
justify-content:space-between;
align-items: center;
position: fixed;
z-index: 1030;
img {
width: 50%;
animation-name:rotar;
animation-iteration-count: initial;
animation-duration: 4s;
animation-delay: 3s;
@keyframes rotar{
  from{
     transform: rotatex(360deg);
     animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);     
}}}}  
/* ---------------NAV------------ */
.header__nav ul {
list-style-type: none;
padding: 1rem;
margin-right: 30px;
li{
display: inline-block;
margin-left: 20px;
a {
color: #0F1626;
font-family: $letra;
padding: 1rem;
font-size: 18px;
transition: ease-out 1s;
  &:hover {
  font-size: 20px;
  letter-spacing: 5px;
  background-color: #0F1626;
  color: #D5D5D5;
}}}}

/* ------ banner------- */
section#banner {
background-color:#0F1626;
display: flex;
padding: 7rem;
  h1{
  text-decoration:map-get($estilos, decoracion);
  font-family:$letra;
  text-align: center;
  font-size: 50px;
  color: #D5D5D5;
  margin-bottom: 5px;
  }
  h3 {
  font-size: 30px;
  margin-top: 1.5rem;
  font-weight: 900;
  color:#D5D5D5;
  }
  p {
  font-size: 25px;
  font-weight: 900;
  color:#D5D5D5;
  margin-top: 15px;
  }                  
}
  /* ------galeria ---------*/
section.galeria {
padding: 50px;
  h2 {
   font-size: 30px;
   text-decoration: map-get($estilos,decoracion );
   font-family: $letra;
   color:#0F1626;
   padding-bottom: 1rem;
   text-align: center;}
   .slide{
   margin-left: 15%; 
   width: 70%;
   height: 40%;
   align-items: center;}        
}
  /* ------formulario----- */
div.serviciospadre {
display: grid;
grid-template-areas: "formulario casacentral";
grid-template-columns: 0.5fr 0.2fr;
grid-template-rows: 0.5fr;
column-gap: 5px;
justify-content: center;
font-family: $letra;
  h3{
  font-size: 25px;
  color: $color-letra;
  padding-bottom: 1rem;
  text-decoration:underline;
  text-align: center;
}
  .casacentral {
   grid-area: casacentral;
   
    img {
    align-content: center;
    width: 500px;
    margin-top: 5rem; }
    p, ul {
    padding-left: 25px;
    line-height: 3rem;
    color: $color-letra;
   
  @include parametros(20px,left)}
 }
}  
  /* ---------footer---------- */ 
footer {
background-color:#0F1626;
align-self: flex end;
color:#D5D5D5;
padding: 2rem;
font-family: $letra;
  .footerpadre {
  display: grid;
  grid-template-areas: "footer1 footer2 footer3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  text-align:center;
  font-size: 18px;
  padding-bottom: 1rem;
   .footer1 {
    grid-area: footer1;
     }         
   .footer2 {
   grid-area: footer2;
    }   
   .footer3 {
    grid-area: footer3;
     }
}
.footer__credito {
padding-top: 1rem;
font-size: 16px;
text-align: center;}
}