
/*----------- MOBILE ---------- */
@media only screen and (max-width: 599px) {
    .header__nav ul {
      padding: 0.5rem;
      margin-right: 30px;
    }
  
    .header__nav li {
      display: inline-block;
      margin-left: 20px;
    }
  
    .header__nav a {
      font-size: 16px;
    }
  
    .banner__content h3 {
      font-size: 25px;
      font-weight: 900;
      color: white;
      text-shadow: 5px 5px black;
    }
  
    .casacentral {
      display: none;
    }
  
    .contenidotucasagrid {
      display: grid;
      grid-template-areas:
        "durlock3"
        "durlock6"
        "durlock9"
        "durlock11";
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 5px;
      border: solid white 1px;
      margin: 10px;
    }
    .contenidotucasagrid img {
      width: 100%;
    }
  
    .sueñoscumplidosgrid {
      display: grid;
      grid-template-areas:
        "durlock2"
        "durlock4"
        "durlock5"
        "durlock13"
        "durlock14"
        "durlock15";
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      border: solid white 1px;
    }
  }