.nosotros{
margin: 1  rem;   
  h2{
  font-size: 40px;
  text-shadow: 8px 8px 8px black;
  font-family: $letra;
  color: $color-letra;
  text-align: center;}
  .pasoapaso {
  margin-top: 1rem;
  font-family:$letra;
  color: $color-letra;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.507);
   }
  }
   