/* ----------SUEÑOS CUMPLIDOS---------- */
.sueñoscumplidos {
background-color: black;
  h2 {
  color:$color-letra;
  font-family: $letra;
  font-size: 25px;
  text-decoration: map-get($estilos, decoracion);
  padding: 1rem;
  @include parametros (30px,left);
  }
  .sueñoscumplidosgrid {
  display: grid;
  grid-template-areas:
  "durlock2 durlock4 durlock5"
  "durlock13 durlock14 durlock15";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: 1rem;
  .durlock2{
  grid-area: durlock2;
  }
  .durlock4{
  grid-area: durlock4;
  }
  .durlock5{
  grid-area: durlock5;
  }
  .durlock13{
  grid-area: durlock13;
  }
  .durlock14{
  grid-area: durlock14;
  }
  .durlock15{
  grid-area: durlock15;
  }
  .imagengaleria{
  width: 350px;
  transition: all 400ms;
  top:40px;
  position: relative;
  margin: auto;
  

  &:hover{
    width: 360px;
    filter: contrast(120%);}}
    z-index: 1;
  }
}