/*-----------TU CASA-------------*/
.contenidotucasa {
  display: flex;
  flex-wrap: wrap;
background-color:$color-fondo;
align-items: center;
justify-content: center;
min-height: 100vh;
  h2 {
    padding-left:30%;
    padding-right: 35%;
    color:$color-letra;
  font-family: $letra;
  text-decoration: map-get($estilos, decoracion);
  
  @include parametros(30px,left)
  } 
  
  .card{
    position: relative;
    width: 300px;
    height: 500px;
    margin:15px;
    
    .face{
      position:absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition:.5s;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        color: white;
        background-color: map-get($estilos, fondoclaro );
        text-align: center;
      }
    }
    .front{
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px whitesmoke;     
    }
    .back{
      transform: perspective(600px) rotateY(180deg);
      background-color: white;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0 5px whitesmoke;
      h3{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
      }
      li{
        letter-spacing: 1px;
        font-size: 30px;
      }
    }
  }
  .card:hover .front{
   transform: perspective(600px) rotateY(180deg);
 }
 .card:hover .back{
   transform: perspective(600px) rotateY(360deg);
 }
   
  }

   