/* --- VARIABLES--- */
$color-fondo: #74a9c5a8;
$letra:"Readex Pro","sans-serif";
$sombra: 5px 5px 5px black;
$color-letra:#0F1626;

/*--- MAP-GET--- */
$estilos:(
 fondoclaro:rgba(0, 0, 0, 0.507),
 decoracion:underline,
);

/* ---MIXIN CON PARAMETROS--- */

@mixin parametros($size,$alineacion) {
  font-size: $size;
  text-align: $alineacion;  
}