/* --------- CONTACTO ----------- */
#banner {
    background-color:#0F1626;
    display: flex;
    font-family: $letra;
    .titulo h1{
      text-decoration:map-get($estilos, decoracion);
      font-size: 3.125em;
      color: #D5D5D5;
     padding: 1.4rem;
     margin-left: 19%;
    }
    .thebest{
      font-style: italic;
      text-align: center;
    }
  }