/* ------ banner------- */
#banner {
  background: rgb(15,22,38);
  background: linear-gradient(90deg, rgba(15,22,38,1) 0%, rgba(15,28,45,1) 10%, rgba(14,36,55,1) 20%, rgba(14,43,63,1) 30%, rgba(14,51,73,1) 40%, rgba(14,60,83,1) 50%, rgba(13,68,92,1) 60%, rgba(13,68,93,1) 70%, rgba(12,77,103,1) 80%, rgba(12,86,113,1) 90%, rgba(11,94,123,1) 100%);
  display: flex;
  font-family: $letra;
  h1{
    text-decoration:map-get($estilos, decoracion);
    text-align: center;
    font-size: 3.125em;
    color: #D5D5D5;
   padding: 1.4rem;
  }
  h3 {
    font-size: 1.875em;
    margin: 0.5rem 0.5rem;
    color:#D5D5D5;
    font-style: italic;
  }
  p {
    font-size: 1.5625em;
    color:#D5D5D5;
    padding: 0.5rem;
    font-style: italic;
  }                  
}
  /* ------galeria ---------*/
section.galeria {
  padding: 3.125rem;
  h2 {
    font-size: 1.875em;
    text-decoration: map-get($estilos,decoracion );
    font-family: $letra;
    color:#0F1626;
    padding-bottom: 1rem;
    text-align: center;}
  .slide{
    margin-left: 25%; 
    width: 50%;
    height: 40%;
    align-items: center;
  color: #D5D5D5;}        
}
  /* ------formulario----- */
  .stylecopiado{
    font-size: 1.375em;
    color: $color-letra;
    font-family: $letra;
    text-decoration:underline;
    text-align: center;
    padding: 1.875rem;
    }
  .serviciospadre {
    display: grid;
    grid-template-areas: "formulario casacentral";
    grid-template-columns: 0.3fr 0.3fr;
    grid-template-rows: 0.5fr;
    column-gap: 5px;
    justify-content: center;
    font-family: $letra;
    color: $color-letra;
    .formulario__content{
      grid-area: formulario;
      padding:1rem;
      color: $color-letra;
      border: double white;
      background-color: #0F1626;
      text-align: center;
      margin-bottom: 1rem;
      width: 100%;
    .form_titulo{
      color:#D5D5D5;
      font-size: 1em;
      margin: 0.9375rem;
    .form_control{
      width: 100%;
      padding: 10px;
      border-radius: 4px;
     }
      }
    .form_button{
        padding: 2px;
      }
    }
    
  .casacentral {
     grid-area: casacentral;
    img {
      width: 100%; }
    p, ul {
      line-height: 3rem;
    @include parametros(1em,left)}
   }
  }  
  
