/* ---------------NAV------------ */
.header__nav ul {
  list-style-type: none;
  padding: 1rem;
  margin-right: 30px;
  li{
    display: inline-block;
    margin-left: 20px;
  a {
    color: #0F1626;
    font-family: $letra;
    padding: 1rem;
    font-size: 18px;
    transition: ease-out 1.5s;
  &:hover {
    background-color: #0F1626;
    color: #D5D5D5;
    transform: scale(1);
}}}}

/* ------ banner------- */
#banner {
  background-color:#0F1626;
  display: flex;
  padding: 7rem;
  h1{
    text-decoration:map-get($estilos, decoracion);
    font-family:$letra;
    text-align: center;
    font-size: 50px;
    color: #D5D5D5;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 30px;
    margin-top: 1.5rem;
    font-weight: 900;
    color:#D5D5D5;
  }
  p {
    font-size: 25px;
    font-weight: 900;
    color:#D5D5D5;
    margin-top: 15px;
  }                  
}
  /* ------galeria ---------*/
section.galeria {
  padding: 50px;
  h2 {
    font-size: 30px;
    text-decoration: map-get($estilos,decoracion );
    font-family: $letra;
    color:#0F1626;
    padding-bottom: 1rem;
    text-align: center;}
  .slide{
    margin-left: 15%; 
    width: 70%;
    height: 40%;
    align-items: center;}        
}
  /* ------formulario----- */
  .stylecopiado{
    font-size: 22px;
    color: $color-letra;
    font-family: $letra;
    text-decoration:underline;
    text-align: center;
    padding: 30px;
    }
  .serviciospadre {
    display: grid;
    grid-template-areas: "formulario casacentral";
    grid-template-columns: 0.5fr 0.2fr;
    grid-template-rows: 0.5fr;
    column-gap: 5px;
    justify-content: center;
    font-family: $letra;
    color: $color-letra;
    .formulario__content{
      padding:1rem;
      color: $color-letra;
      border: double white;
      background-color: #0F1626;
      text-align: center;
      margin-bottom: 1rem;
    .form_titulo{
      color:#D5D5D5;
      font-size: 16px;
      margin: 15px;
    .form_control{
      width: 100%;
      padding: 10px;
      border-radius: 4px;
     }
      }
    .form_button{
        padding: 2px;
      }
    }
    
  .casacentral {
     grid-area: casacentral;
    img {
      align-content: center;
      width: 500px;
      margin-top:1rem; }
    p, ul {
      line-height: 3rem;
    @include parametros(20px,left)}
   }
  }  
  
