.nosotros{
  font-size: 40px;
  font-family: $letra;
  color: $color-letra;
  text-align: center;
  text-decoration: underline;
  margin: 3rem;
}
 
.video{
  margin: 0 29%;
} 
.pasoapaso {
  margin-top: 1rem;
  font-family:$letra;
  color: $color-letra;
  font-size: 18px;
 }