/* ------ NOSOTROS------ */
.nosotros{
  display: flex;
  font-size: 2.5em;
  font-family: $letra;
  color: $color-letra;
  flex-direction: column;
  text-decoration: underline;
  padding: 1rem;
  align-items: center;
  text-shadow:  $sombra;;
  
}
.pasoapaso {
  margin-top: 1rem;
  font-family:$letra;
  color: $color-letra;
  font-size: 1.125em;
  text-shadow: $sombra;;
 }