/* -------SUCURSALES---------- */
.sucursales__titulo {
  font-size: 2.5em;
  text-decoration: map-get($estilos , decoracion );
  color:$color-letra;
  margin-top: 2rem;
  text-align: center;
  padding-bottom:2rem ;
    }  
.sucursalesgrid {
  display: grid;
  grid-template-areas:
  "footcasacentral"
  "laplata"
  "montegrande";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  img {
    width: 45%;
    padding: 0.5rem;}
  .h4 {
    color:#d5d5d5;
    background-color: rgba(0, 0, 0, 0.507);
    background-color:map-get($estilos , fondoclaro);
    font-size: 1.5625em;}
  ul{
    color:#d5d5d5;
    background-color: rgba(0, 0, 0, 0.507);
    background-color:map-get($estilos , fondoclaro);
    font-size: 1.5625em;
    list-style: none;
    margin-bottom: 5rem;
  } 
}
