/*----------- MOBILE ---------- */
@media only screen and(min-width:100px) and (max-width:767){ 
  .header{
    .logo{
      width: 10%;
    }
    .header__nav ul{
      padding: 0.5rem;
      margin-right: 10px;
     
      li{
        margin-left: 5px;
      a {
        padding: 0.5rem;
        font-size: 9px;
    }}}}
    
    /* ------ banner------- */
    #banner {
      background-color:#0F1626;
      display: flex;
      h1{
        font-size: 25px;
        margin-bottom: 5px;
      }
      h3 {
        font-size: 15px;
        margin-top: 1.5rem;
      }
      p {
        font-size: 12.5px;
        margin-top: 15px;
      }                  
    }
      /* ------galeria ---------*/
    section.galeria {
      padding: 25px;
      h2 {
        font-size: 15px;
        padding-bottom: 0.5rem;
      }       
    }
      /* ------formulario----- */
      .stylecopiado{
        font-size: 11.5px;
        padding: 10px;
        }
      .serviciospadre {
        display: grid;
        grid-template-areas: "formulario";
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.5fr;
        column-gap: none;
        margin-left: 8rem;
        .formulario__content{
          width: 100%;
          text-align: center;
          margin-left: none;
        .form_titulo{
          font-size: 8px;
          margin: 7.5px;
        .form_control{
          padding: 5px;
         } }}
        
      .casacentral {
         grid-area: casacentral;
         .casacentral__form{
         }
         img{
           display: none;
         }
       }
      } 
    
    
/* ------ TU CASA------ */
  .contenidotucasa {
    h2 {
      font-size: 16px;
    }
  }
/* --------SUCURSALES----- */
  .sucursales__titulo{
    font-size: 30px;
  }
  .sucursalesgrid{
    grid-template-rows: 0.8fr;
    img{
      width:250px;
    }
    h4{
font-size: 14px;
    }  
  }
/* ------- SUEÑOS CUMPLIDOS------- */
.sueñoscumplidos{
  h2{
    @include parametros (18px,center);
  }
  .sueñoscumplidosgrid {
    display: grid;
    grid-template-areas:
      "durlock2"
      "durlock4"
      "durlock5"
      "durlock13"
      "durlock14"
      "durlock15";
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.8fr;
    row-gap: 20px;
    padding: none ;
    padding-bottom: 5rem;
  }
}  
/* ------NOSOTROS----- */
.nosotros{   
    h2{
    font-size: 30px;}
    .pasoapaso {
    font-size: 12px;
     }
    .video{
      justify-content: center;
    }
    }

}

/*----------- TABLE ---------- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
/* ---------------NAV------------ */

  .sueñoscumplidosgrid {
    display: grid;
    grid-template-areas:
      "durlock2"
      "durlock4"
      "durlock5"
      "durlock13"
      "durlock14"
      "durlock15";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: solid white 1px;
  } }