/* ---------------------------- PANTALLA GRANDE------------------ */
@media(max-width: 992px){
body{ 
  .header {
  .nav {
  img {
    width: 8.75rem;}
  .menu {
    margin-right: 2px;
  li {
    font-size: 0.75em;
  a {
    padding: 0.1rem;}}}
  }}
    /*footer*/ 
  footer {
    padding: 1rem;
  .footerpadre {
    font-size: 1em;
    padding-bottom: 0.5rem;}
  .footer__credito {
    padding-top: 0.5rem;
    font-size: 0.8em;}
}
/*banner*/
#banner {
  h1{
    font-size: 2.5em;
    color: #D5D5D5;
    padding: 1rem;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }                  
}
/* galeria */
section.galeria {
  padding: 3.125rem;
  h2 {
  font-size: 1.4em;}       
}
/*formulario*/
.serviciospadre {
  grid-template-columns: 0.6fr 0.3fr;
  
}  
/* NOSOTROS */
.nosotros{
  font-size: 1.5em;
}
.pasoapaso {
  font-size: 1em;
 }
 /*TU CASA*/
.viviendas{
  @include parametros(1.5em,center);
} 
.sueñoscumplidos {
  h2 {
    @include parametros (1.5em,center);
  } }
    
  /*CONTACTO*/
#banner {
  .titulo{
    font-size: 1.5em;
  }
  h3{
font-size: 1.3em; }}
}}

  
/*-------------------------- TABLE----------------------------- */
@media(max-width: 768px){
body{ 
  padding: 5rem 0 0;
  .header {
    height: 100px;
  .nav {
  img {
    width: 8.8em;
      }
  .toggle{
    display: block;} 
  .menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color:#d5d5d5;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 0;
    height: calc(100% - 80px);
    overflow-y: auto;
    transition: left 0.3s;
  li {
    line-height: 4.4rem;}}
  .visible{
    left: 100%;}
      }}

/*footer*/ 
  footer {
    padding: 0.8rem;
  .footerpadre {
    font-size: 0.8em;
    padding-bottom: 0.5rem;}
  .footer__credito {
    padding-top: 0.5rem;
    font-size: 0.6em;}
}
/*banner*/
#banner {
  h1{
    font-size: 1.8em;
    color: #D5D5D5;
    padding: 1rem;}
  h3 {
    font-size: 1em; }
  p {
    font-size: 0.8em;}                  
}
/* galeria */
  section.galeria {
    padding: 3.125rem;
  h2 {
    font-size: 1em;}}
/*formulario*/
  .stylecopiado{
    font-size: 1em;
    }
  .serviciospadre {
    grid-template-columns: 0.55fr 0.3fr;
  .formulario__content{
    padding:0rem;
  .form_titulo{
    font-size: 0.8em;
  .form_control{
    padding: 8px;
     } }
  .form_button{
    padding: 2px;}}
    
  .casacentral {
    grid-area: casacentral;
  img {
    width: 100%; }
  p, ul {
    line-height: 3rem;
    @include parametros(0.8em,left)}
   }
  }  
  
/* NOSOTROS */
  .nosotros{
    font-size: 1em;
}
  .pasoapaso {
    font-size: 0.8em;}
/*TU CASA*/
  .viviendas{
    @include parametros(1em,center);} 
  .sueñoscumplidos {
    h2 {
      @include parametros (1em,center);}}
}}

/* ---------------------- CELULAR--------------------- */
@media(max-width:576px){
  body{ 
    padding: 5rem 0 0;
  .header {
    height: 100px;
    .nav {
    img {
      width: 8.8em;}
    .toggle{
      display: block;} 
    .menu {
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      background-color:#d5d5d5;
      position: fixed;
      left: 0;
      top: 100px;
      width: 100%;
      padding: 0;
      height: calc(100% - 80px);
      overflow-y: auto;
      transition: left 0.3s;
    li {
      line-height: 4.4rem;}}
    .visible{
      left: 100%;}
       }}
 
 /*footer*/ 
 footer {
   padding: 0.5rem;
 .footerpadre {
   font-size: 0.5em;
   padding-bottom: 0.2rem;}
 .footer__credito {
   padding-top: 0.2rem;
   font-size: 0.3em;}
 }
 /*banner*/
 #banner {
 h1{
   font-size: 1.6em;
   color: #D5D5D5;
   padding: 1rem;
 }
 h3 {
   font-size: 1em;
 }
 p {
   font-size: 0.8em;
 }                  
 }
 /* galeria */
  section.galeria {
    padding: 2.125rem;
  h2{
    font-size: 1.4em;}  
 .slide{
    margin-left: 15%;
    width: 70%;
    height: 60%;}     
 }
 /*formulario*/
.stylecopiado{
    font-size: 1em;
    padding: 1rem;
  }
.serviciospadre {
    display:flex;
    grid-template-areas:none;
  .formulario__content{
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 40%;
  .form_titulo{
    font-size: 0.5em;
    margin: 0.5rem;
  .form_control{
    padding: 5px;;}
    }
  .form_button{
    padding: 2px;
    font-size: 0.5em;
    }
  }
  
.casacentral {
   display: none;
   grid-area: none;
 }
}  
 /* NOSOTROS */
.nosotros{
    font-size: 0.8em;
 iframe{
    width: 300px;
    height: 200px;
 }
 .pasoapaso {
    font-size: 0.8em;
  }
 }
 
 /*TU CASA*/
 .viviendas{
  @include parametros(1em,center)
} 
.contenidotucasa {
    min-height: 70vh;
  .card{
    width: 15rem;
    height: 14.4em;
  .back{
  h3{
    font-size: 0.875em;
    margin-bottom: 1rem;
      }
  ul{
    font-size: 0.625em;
      }}}
}
 
 /* SUCURSALES*/
 .sucursales__titulo {
    font-size: 1.5em;
    }  
.sucursalesgrid {
  img {
    width: 70%;
    padding: 0.5rem;}
  .h4 {
    font-size: 1em;}
  ul{
    font-size: 1em;} }

/* SUEÑOS CUMPLIDOS*/
.sueñoscumplidos {
  h2 {
    @include parametros (1em,center);}
  .sueñoscumplidosgrid {
    display: grid;
    grid-template-areas:
    "durlock2 durlock4"
    "durlock5 durlock13"
    "durlock14 durlock15";
    grid-template-columns: 1fr 1fr;
    }}
}}